@use '../../styles/fonts.scss';
@use '../../styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__container {
    box-sizing: border-box;

    border: 1px solid variables.$grey-color;
    border-radius: 10px;
    padding: 20px;

    background-color: variables.$background-color;
    width: 100%;
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__button {
    margin-top: 8px;
    height: 56px;
    background-color: variables.$accent-color;
    border-radius: 8px;
    border: none;
    font-family: fonts.$main-font;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: opacity variables.$transition-duration;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
      transition: opacity variables.$transition-duration;
    }
  }

  &__input {
    box-sizing: border-box;
    height: 50px;
    padding: 0 16px;
    border: none;
    border-radius: 8px;
    transition: border variables.$transition-duration;
    cursor: pointer;
    font-family: fonts.$main-font;
    font-size: 16px;

    &:hover {
      transition: border variables.$transition-duration;
      border: 1px solid #ADAEBC;
    }

    &::placeholder {
      font-family: fonts.$main-font;
      font-weight: 400;
      font-size: 16px;
      color: #ADAEBC;
    }
  }
}

.invalid {
  transition: border variables.$transition-duration;
  background-color: rgba(200, 0, 0, 0.2); // Червоний фон після сабміту

  &:hover {
    transition: border variables.$transition-duration;
    border: 2px solid #ff4545;
  }
}
