@use '../../styles/fonts.scss';
@use '../../styles/variables.scss';
@use '../../styles/mixins/mixins';

.header {

  &__container {
    background-color: variables.$background-color;
  }

  &__icon {
    width: 64px;
    transition: transform variables.$transition-duration ease;

    &:hover {
      transform: scale(1.2);
    }

    @include mixins.on-phone {
      width: 24px;
    }
  }

  &__links-container {
    display: flex;
    flex-direction: row;
    gap: variables.$regular-gap;

    @include mixins.on-phone {
      gap: 12px;
    }
  }

  &__link {
    font-weight: 500;
    transition: color variables.$transition-duration;

    &:hover {
      color: variables.$accent-color;
    }

    @include mixins.on-phone {
      font-size: 12px;
    }
  }
}
