@use './styles/fonts.scss';
@use './styles/variables.scss';
@use 'styles/mixins/mixins';

:root {
  font-family: fonts.$main-font;
  color: rgba(55, 60, 60);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: variables.$grey-color;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(149, 149, 149, 0.5), rgba(255, 255, 255, 0.5)),
    url("background_paw.JPG") repeat;
}

.container {
  padding: 12px 48px;

  @include mixins.on-phone {
    padding: 12px 24px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
}
